{{> header1}}

<div class="container">
    <div class="row ">
        {{#each data}}
        <div class="card col-md-3 mt-3" style="width: 18rem;">
            <img src="/static/images/{{image}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h4>{{name}}</h4>
                <p class="card-text text-center">Are you hungry??</p>
                <div class="d-flex">
                    <form action="/user/addtocart/{{../userId}}" method="post">
                        <input type="hidden" name="pid" value="{{_id}}">
                        <input type="hidden" name="image" value="{{image}}">
                        <input type="hidden" name="name" value="{{name}}" id="">
                        <input type="hidden" name="price" value="{{price}}" id="">
                        <input type="submit" class="btn btn-warning" value="Add to cart">
                    </form>
                    <h5 style="margin: 5px 20px; color:red;">${{price}}</h5>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>

{{> footer}}